.home {
    margin: auto;
    width: 80%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;

    padding: 1em;
    display:grid;
    gap: 2rem;
    margin-top: 4rem;

    grid-template-columns: repeat(auto-fit, minmax(10rem, 21rem));
    grid-template-rows: repeat(auto-fill, minmax(0rem, auto));
    
    justify-content: center;
}


@media (min-width: 1400px) {
    .home {
        grid-template-columns: repeat(3, minmax(10rem, 21rem));
    }
}

.backdrop {
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: #000000d3;

    z-index: 999;
    display:flex;
    justify-content: center;
    align-items: center;
}